body {
  background-color: black;
  animation-name: yes;
	animation-duration: 5s;
	animation-direction: normal ;
	 animation-play-state: paused;
}

@keyframes yes {
	from {background-color: black;}
	to {background-color: white;}
}

#reset_flashbang {
	background-color: white;
	animation-name: yes;
	animation-duration: 5s;
	animation-direction: normal ;
	 animation-play-state: paused;
}
